/Ejercicios de repaso/Ejercicio1punto1/nbproject/private/
/Ejercicios de repaso/Ejercicio1punto1/build/
/Ejercicios de repaso/Ejercicio1punto2/nbproject/private/
/Ejercicios de repaso/Ejercicio1punto2/build/
/Ejercicios de repaso/Ejercicio1punto4/nbproject/private/
/Ejercicios de repaso/Ejercicio1punto4/build/
/Pruebas2/nbproject/private/
/Pruebas2/build/
/Ejercicios de repaso/Ejercicio1punto5/nbproject/private/
/Ejercicios de repaso/Ejercicio1punto5/build/
/Ejercicios de repaso/FileReader/nbproject/private/
